<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="sgf_bd" connectionString="Data Source=FARMÁCIA-PC\sqlexpress;Network Library=DBMSSOCN;Initial Catalog=sgf_bd;User ID=cap;Password=cap;"/>
      <!--<add name="sgf_bd" connectionString="data source=pctiago\sqlexpress;initial catalog=sgf_bd;integrated security=false;Trusted_Connection=Yes"/>-->
    </connectionStrings>
</configuration>